/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* tablet & mobile */
@media (max-width: 991.98px) {
  .navbar {
    display: none;
  }

  .header {
    position: relative;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* căn lại vị trí của menu */
  .menu-header__icon {
    position: absolute;
    top: 26px;
    left: 19px;
    width: 41px;
    color: #fff;
  }

  /* code lớp overlay */
  .over-lay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* điều kiện thường */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /* khi click vào checkbox menu thì hiện lên */
  .menu-checkbox:checked ~ .over-lay {
    opacity: 1;
    visibility: visible;
  }

  /* menu for mobile */
  .menu-content {
    padding: 60px;
    position: fixed;
    background-color: rgb(42, 32, 32);
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
  }

  /* kiểm tra nếu menu được checked thì hiển ra menu */
  .menu-checkbox:checked ~ .menu-content {
    transform: translateX(0);
  }

  /* code menu top */

  .menu-close {
    width: 34px;
    color: #fff;
  }

  .menu-draw-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }

  #navbar__list--mb {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* code phần hero */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }

  .hero__content {
    order: 2;
    width: 80%;
    margin-top: 30px;
    text-align: center;
  }

  .hero__media {
    order: 1;
  }

  .hero__row {
    justify-content: center;
  }

  /* code phần service */
  .service__row {
    flex-direction: column;
    row-gap: 50px;
  }

  .service__img {
    width: 100%;
  }

  .service__list {
    text-align: center;
  }

  .service-item {
    width: 90%;
    text-align: start;
  }

  /* work and about */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* about */
  .about-row {
    flex-direction: column;
    row-gap: 50px;
  }

  .about__media {
    width: 100%;
    border-radius: 15px;
  }

  .about__img--big {
    width: 100%;
  }

  .about__img--small {
    display: none;
  }

  .about-content {
    width: 80%;
    text-align: center;
  }

  /* team list */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .team-item__thumb {
    margin: 0 auto;
  }

  /* install */
  .install__img {
    display: none;
  }

  .install__content {
    width: 90%;
    margin: 0 auto;
  }

  /* blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .blog__content {
    order: 2;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog__heading {
    max-width: 672px;
    margin: 0 auto;
  }

  .blog__list {
    order: 1;
  }
}

/* tablet */
@media (max-width: 991.98px) and (min-width: 768px) {
  .footer-column-hidden {
    display: none;
  }

  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }

  .show-on-mobile {
    display: none;
  }
}

/* mobile */
@media (max-width: 767.98px) {
  .header__action {
    display: none;
  }

  .menu-header__icon {
    top: 10px;
  }

  .menu-content {
    padding: 40px;
    inset: 0 20% 0 0;
  }

  .navbar__item {
    list-style-type: none;
  }

  .separate {
    border-top: 1.5px solid #8c8b8b;
    margin-top: 10px;
  }

  /* hero */
  .hero__img-small {
    display: none;
  }

  .hero__img-large {
    width: 100%;
    height: auto;
  }

  .hero__heading {
    font-size: 3rem;
  }

  .hero__row {
    flex-direction: column;
    row-gap: 15px;
  }
  /* main */
  /* service */
  .service {
    padding: 70px 0;
  }

  .service___heading {
    font-size: 3rem;
  }

  .service__desc {
    width: 100%;
  }

  .service__img {
    width: 100%;
    height: auto;
  }

  /* work */
  .section-heading {
    font-size: 3rem;
  }

  .work__desc {
    width: 100%;
  }

  .work-item {
    padding: 10px;
  }
  /* about */
  .about {
    margin-top: 20px;
    padding: 5px 0;
  }

  .about__img--big {
    width: 100%;
    height: auto;
  }

  .section-desc {
    font-size: 1rem;
  }

  /* team */
  .team {
    padding: 40px 0;
  }

  .team__list {
    grid-template-columns: 1fr;
  }

  /* install */
  .install__inner {
    margin: 30px 5px;
    padding: 30px 5px;
  }

  .install__content {
    min-width: 200px;
  }

  .install__desc {
    font-size: 1.1rem;
  }

  /* blog */
  .blog {
    padding: 40px 0;
  }

  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .blog__heading {
    text-align: center;
  }

  /* appointment */
  .appointment {
    margin-top: 40px;
  }

  .appointment__inner {
    padding: 30px 0;
  }

  /* footer */
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .footer__copyright {
    margin-top: 20px;
  }
}
